@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; 垂直居中  */
  /* height: 100vh; 占满整个视窗高度 */
  background-image: url("test.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 容器内的文字 */
.text-content {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff; /* 文字颜色为白色 */
  padding: 20px; /* 内边距 */
  border-radius: 10px; /* 圆角边框 */
  text-align: center; /* 文字居中对齐 */
}


.button {
    /* border-radius: 0; */
    padding: 0.25rem 1rem;
    background-color: black;
    color: white;
  }
  .button:hover {
    
    background-color: white;
    color: black;
  }